
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Hello React</title>
</head>
<body>
    <div id="content"></div>
    <script crossorigin src="https://cdnjs.cloudflare.com/ajax/libs/react/16.13.0/umd/react.development.js"></script>
    <script crossorigin src="https://cdnjs.cloudflare.com/ajax/libs/react-dom/16.13.0/umd/react-dom.development.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/remarkable/1.7.1/remarkable.min.js"></script>
    <script type="text/javascript">
        var commentAPIURL = '@Url.Action("Comments")';
        var submitCommentURL = '@Url.Action("AddComment")';
    </script>
    <script src="@Url.Content("~/Scripts/Tutorial.jsx")"></script>
</body>
</html>
